<?xml version="1.0" encoding="utf-8"?>
<plugin>
  <id>otitan.ui.swipe_layer</id>
  <version>1.0</version>
  <library>otitan.ui.swipe_layer.dll</library>
  <name>影像卷帘</name>
  <category>交互插件.图层叠加分析</category>
  <owner>航天泰坦</owner>
  <description></description>
  <type>ribbon</type>
  <ribbon>
	<tooltip>在水平和垂直两个方向上叠加显示不同的图层并进行比较</tooltip>
	<group>数据浏览.工具</group>
  </ribbon>
</plugin>